.pfc_list{
   list-style-type: none; 
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin: 0;
   padding: 0;
   max-width: 520px;
   margin: 0 auto;
}
.pfc_item{
   display: flex;
   flex-direction: column;
   max-width: 125px;
text-align: center;
gap: 8px;
}
.pfc_item_title, .pfc_item_number{
   margin: 0;

}
.container_ingedient{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  
}
.ingredient_title{
   margin-bottom: 12px;
}
.ingredient_image{
   width: 480px;
   height: 240px;
   margin: 0 auto;
}
.ingredient_subtitle{
   margin-bottom: 32px;
}