.constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.constructor__el {
  max-height: 80px !important;
  height: 80px;
  z-index: -2;
}
.constructor__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  height: fit-content;
  margin: 0;
  max-height: 464px;
  overflow: auto;
  z-index: 2;
}
.constructor__list_el {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.constructor__list_el:last-child {
  margin-bottom: 0;
}
.constructor__list_el:first-child {
  margin-top: 0;
}
.drag_icon {
  margin-right: 8px;
  width: 24px;
  aspect-ratio: 1/1;
}

.custom__scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8585ad transparent;
}

.custom__scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom__scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 4px;
  border: 2px solid transparent;
}

.burger__btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 16px;
}
.total__price {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.total__number {
  margin-right: 8px;
}
.total_icon {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
