ul, ol {
   list-style-type: none;
   padding-left: 0;
   margin-left: 0;  
}

li::marker {
   color: red; 
   opacity: 0; 
}
.profile_content{
   display: flex;
}
.profile_links{
   display: flex;
   flex-direction: column;
   margin-right: 60px;
   min-width: 300px;
}
.profile_links_item, .profile_links_text{
   max-width: 320px;
}
.profile_links_item{
   padding: 8px 0;
}
.profile_links_text{
   margin-top: 80px;
}
.profile_links_text{
   color: #8585AD;
   opacity: .4;
}
.submit_data{
   margin: 0 auto 8px auto;
   width: fit-content;

}
.inputs_list_item{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.button_box{
   display: flex;
   width: 100%;
   justify-content: space-evenly;
}
.orders_list{
   display: flex;
   flex-direction: column;
   gap: 16px;
   max-height: 77vh;
padding-right: 18px;
   overflow-y: scroll;
}