.forgot_section{
   width: 100%;
   height: calc(100vh - 89px);
   display: flex;
   flex-direction: column;
   gap: 24px;
   justify-content: center;
   align-items: center;
}
.forgot_button{
   max-width: fit-content;
}
.forgot_link{
   color: #4C4CFE !important;
   transition: all .2s;
}
.forgot_link:hover{
text-decoration: underline 1px solid #4C4CFE;
text-underline-offset: 2px;
}
.forgot__text_box{
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 16px;
}